.product-images-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.product-images-container img {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 1rem;
  scroll-snap-align: start;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.product-images-container img:hover {
  transform: scale(1.1);
}

.product-description {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: #ff4081; /* Color llamativo para atraer jóvenes */
  margin-top: 1rem;
  text-align: center;
  text-shadow: 0 0 5px #ff79a9;
}
